<app-nav-bar></app-nav-bar>

<!-- <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" /> -->
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />

<app-novedad-form *ngIf="showForm" (close)="closeForm()"></app-novedad-form>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <ul class="nav flex-column">
                <li class="nav-item contenido-central">
                    <button class="btnNuevo"
                        
                        (click)="openNovedadForm()"><span class="material-symbols-outlined">
                            assignment_add
                        </span>Nueva</button>
                </li>
                <li class="nav-item contenido-central">
                    <button class="btnNuevo"
                        
                        (click)="loadNovedadesTodas()"><span class="material-symbols-outlined">
                            library_books
                        </span>Todas</button>
                </li>
                <li class="nav-item contenido-central">
                    <button class="btnNuevo"
                       
                        (click)="loadNovedadesHoy()"><span class="material-symbols-outlined">
                            today
                        </span>Hoy</button>
                </li>
            </ul>
        </div>
        <div class="col-md-11">
            <div class="card">



                <div class="col-md-11 ">
                    <table class="table">

                        <tbody>
                            <tr>
                                <td><input type="search" class="form-control rounded" placeholder="Por Nombre..."
                                        (input)="filtrarNombre($event)" aria-label="Buscar equipos"></td>
                                <td><input type="search" class="form-control rounded" placeholder="Por novedad..."
                                        (input)="filtrarNovedad($event)" aria-label="Buscar equipos"></td>
                                <td style="color: white;">edsfdsfdsrerer</td>
                                <td style="color: white;">edsfsdfdsfrerer</td>

                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="min-width: 150px; max-width: 200px;">FECHA</th>
                                <th> NOMBRE</th>
                                <th colspan="4">NOVEDAD</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let novedad of novedadesFiltrados">
                                <td>{{ formatDate(novedad.fecha)}}</td>
                                <td>{{ novedad.nombre}}</td>
                                <td colspan="4">{{ novedad.novedad }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <p>Tu correo electrónico es: {{ loggedUser?.username }}</p> -->
                </div>
            </div>
        </div>


       
    </div>
</div>
