/* Asegúrate de que el contenedor ocupe todo el ancho */
.container-fluid {
    padding-left: 0; /* Eliminar el padding izquierdo */
    padding-right: 0; /* Eliminar el padding derecho */
}

/* Estilo para el menú lateral */
.nav {
    padding: 10px; /* Espaciado interno */
    background-color: #f9f9f9; /* Color de fondo claro para el menú lateral */
    border-right: 1px solid #dee2e6; /* Línea de separación a la derecha */
justify-content: center;
justify-self: center;
}
.card{
    width: 90%;
    margin: 0 auto;
}

/* Estilo para el contenido central */
.contenido-central {
    padding: 20px; /* Espaciado interno */
   
}

/* Ajustar la tabla */
.table {
    margin-top: 20px; /* Espacio superior para la tabla */
    width: 80%; /* Asegúrate de que la tabla ocupe todo el ancho */
}

/* Botones */
.btnNuevo {
    background-color: rgb(128, 128, 128);
    border: none;
    color: aliceblue;
    padding: 15px; /* Ajusta el padding según sea necesario */
    font-size: 15px; /* Un tamaño de fuente más legible */
    width: 100%; /* Asegúrate de que el botón ocupe todo el ancho */
    margin-bottom: 10px; /* Espacio entre botones */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    height:fit-content;
}

.btnNuevo:hover {
    background-color: #62A8D1; /* Cambia el color de fondo al pasar el ratón por encima */
}

/* Estilo para cerrar sesión */
.closeSession {
    display: flex; /* Utiliza flexbox para el botón */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra horizontalmente */
    color: blue;
    text-decoration: underline;
}

/* Media Queries para adaptabilidad */
@media (max-width: 768px) {
    .col-md-1, .col-md-10 {
        flex: 0 0 100%; /* En pantallas pequeñas, cada columna ocupa el 100% */
        max-width: 100%;
    }
    
    .nav {
        border-right: none; /* Eliminar la línea de separación en pantallas pequeñas */
    }
    
    .closeSession {
        margin-top: 20px; /* Espacio superior en pantallas pequeñas */
    }
}