<div class="change-password-container">
    <h2>Cambiar Contraseña</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="oldPassword">Contraseña Antigua:</label>
        <input id="oldPassword" type="password" formControlName="oldPassword" />
        <div *ngIf="changePasswordForm.get('oldPassword')?.invalid && changePasswordForm.get('oldPassword')?.touched">
          <small>La contraseña antigua es requerida.</small>
        </div>
      </div>
  
      <div>
        <label for="newPassword">Nueva Contraseña:</label>
        <input id="newPassword" type="password" formControlName="newPassword" />
        <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched">
          <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">La nueva contraseña es requerida.</small>
          <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">La nueva contraseña debe tener al menos 6 caracteres.</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="changePasswordForm.invalid">Cambiar Contraseña</button>
      <button style="margin-top: 10px;" type="button" (click)="onCancel()">Cancelar</button> <!-- Botón de Cancelar -->
    </form>
  
    <div *ngIf="message" class="success-message">{{ message }}</div>
    <div *ngIf="error" class="error-message">{{ error }}</div>
  </div>