/* Asegúrate de que el contenedor ocupe todo el ancho */
.container-fluid {
    padding-left: 0; /* Eliminar el padding izquierdo */
    padding-right: 0; /* Eliminar el padding derecho */
}

/* Estilo para el menú lateral */
.menu-lateral {
    padding: 20px; /* Espaciado interno */
    background-color: #f9f9f9; /* Color de fondo claro para el menú lateral */
    border-right: 1px solid #dee2e6; /* Línea de separación a la derecha */
    width: 250px; /* Ancho del menú lateral */
    
}

/* Estilo para el contenido central */
.contenido-central {
    padding: 20px; /* Espaciado interno */
}

/* Separar el contenido central de la barra de navegación y el menú lateral */
h2 {
    margin-top: 20px; /* Espacio superior para el título */
}