<form (ngSubmit)="onSubmit()">
    <div>
      <label for="fecha">Fecha:</label>
      <input type="date" id="fecha" [(ngModel)]="factura.fecha" name="fecha" required>
    </div>
    <div>
      <label for="empresa">Empresa:</label>
      <input type="text" id="empresa" [(ngModel)]="factura.empresa" name="empresa" required>
    </div>
    <div>
      <label for="monto">Monto:</label>
      <input type="number" id="monto" [(ngModel)]="factura.monto" name="monto" required>
    </div>
    <div>
      <label for="estado">Estado:</label>
      <select id="estado" [(ngModel)]="factura.estado" name="estado" required>
        <option value="pendiente">Pendiente</option>
        <option value="pagado">Pagado</option>
      </select>
    </div>
    <div>
      <label for="observacion">Observación:</label>
      <textarea id="observacion" [(ngModel)]="factura.observacion" name="observacion"></textarea>
    </div>
    <div class="buttons">
    <button type="submit"> {{ modoEdicion ? 'Actualizar' : 'Guardar' }}</button>
    <button type="button" (click)="onCancel()">Cancelar</button>
  </div>
  </form>