<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="sidebar-buttons">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar por DEM..." [(ngModel)]="searchTerm" #searchInput />
                    <button *ngIf="!equiposSearch" class="btn btn-outline-secondary" type="button" (click)="filterItems()">
                        <i class="fa fa-search"></i>
                    <span class="material-symbols-outlined">
                        search
                    </span>
                    </button>
                    <button *ngIf="equiposSearch" class="btn btn-outline-secondary" type="button" (click)="reset(); searchInput.value = ''; searchTerm = ''">
                        <i class="fa fa-search"></i>
                    <span class="material-symbols-outlined">
                        close
                    </span>
                    </button>
                </div>
                <!-- <button class="sidebar-btn">
                    <span class="material-symbols-outlined">receipt_long</span>
                    <span class="btn-text">Nueva Factura</span>
                </button>
                <button class="sidebar-btn">
                    <span class="material-symbols-outlined">mintmark</span>
                    <span class="btn-text">Caja</span>
                </button>
                <button class="sidebar-btn">
                    <span class="material-symbols-outlined">lab_profile</span>
                    <span class="btn-text">Reporte</span>
                </button>
                <button class="sidebar-btn">
                    <span class="material-symbols-outlined">disabled_by_default</span>
                    <span class="btn-text">Cerrar Mes</span>
                </button> -->
            </div>
        </div>
        <div class="col-10">
            <div class="card">
                <div class="card-header">
                    <h4>Equipos sin asignar</h4>
                </div>
                <div class="card-body">
                    <div *ngIf="loading" class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Cargando...</span>
                        </div>
                    </div>

                    <div *ngIf="error" class="alert alert-danger">
                        {{ error }}
                    </div>

                    <div class="table-responsive">
                        <table *ngIf="!equiposSearch" class="table table-striped table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th class="visually-hidden">ID</th>
                                    <th>DEM</th>
                                    <th>Fecha</th>
                                    <th>Username</th>
                                    <th>Motivo</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of secretariaItems">
                                    <td class="visually-hidden">{{ item.id }}</td>
                                    <td>{{ item.dem }}</td>
                                    <td>{{ formatDate(item.fecha)}}</td>
                                    <td>{{ item.username }}</td>
                                    <td>{{ item.motivo }}</td>
                                    <td>{{ item.estado }}</td>
                                    <td>
                                        <button class="btnRep btn-sm btn-success" (click)="reparar(item.dem)">
                                            <span class="material-symbols-outlined">
                                                build
                                            </span>
                                            Reparar 
                                        </button>
                                    </td>

                                </tr>
                                <tr *ngIf="secretariaItems.length === 0 && !loading">
                                    <td colspan="7" class="text-center">No hay datos disponibles</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <div *ngIf="equiposSearch">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                  <thead class="table-light">
                                    <tr>
                                      <th>DEM</th>
                                      <th>Nombre</th>
                                      <th>Servicio</th>
                                      <th>Ubicación</th>
                                      <th>Marca</th>
                                      <th>Modelo</th>
                                      <th>Serie</th>
                                      <th>Acciones</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of equipos">
                                      <td>{{ item.dem }}</td>
                                      <td>{{ item.nombre }}</td>
                                      <td>{{ item.servicio }}</td>  
                                      <td>{{ item.ubicacion }}</td>
                                      <td>{{ item.marca }}</td>
                                      <td>{{ item.modelo }}</td>
                                      <td>{{ item.serie }}</td>
                                      <td>
                                        <button class="btnAdd btn-sm btn-success" (click)="editItem(item.dem)">
                                            <span class="material-symbols-outlined">
                                                build
                                            </span>
                                            Agregar a Taller
                                        </button>
                                    </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>